---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&format=json&method=limelm.feature.getAll&version_id=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","fields":{"field":[{"id":"1","name":"updates_expires","type":"date_time","ta_readable":"true","required":"false","description":"Date
        when the license key expires."}]}})
  recorded_at: Mon, 02 Mar 2015 20:48:12 GMT
recorded_with: VCR 2.9.3
