---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&format=json&method=limelm.pkey.generate&version_id=2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","pkeys":{"total":1,"pkey":[{"id":"10","key":"EEE-BBB"}]}})
  recorded_at: Mon, 02 Mar 2015 18:25:27 GMT
recorded_with: VCR 2.9.3
