---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&format=json&method=limelm.pkey.generate&version_id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","pkeys":{"total":1,"pkey":[{"id":"9","key":"CCCC-BBBB"}]}})
  recorded_at: Fri, 27 Feb 2015 15:54:31 GMT
recorded_with: VCR 2.9.3
