---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&deact_limit=2&email=imberdis.damien@gmail.com&format=json&method=limelm.pkey.generate&num_acts=5&version_id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","pkeys":{"total":1,"pkey":[{"id":"9","key":"CCCC-EEEE"}]}})
  recorded_at: Mon, 02 Mar 2015 17:39:54 GMT
recorded_with: VCR 2.9.3
