---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&format=json&method=limelm.pkey.advancedSearch
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","pkeys":{"pages":1,"total":"2","pkey":[{"id":"1","key":"AAA-B","acts":"1","acts_used":"0","version_id":"1","total_deacts":"0","deac_limit":"2","for_tfs":"false","allow_vm":"no"}, {"id":"2","key":"BBB-A","acts":"5","acts_used":"0","version_id":"4","total_deacts":"0","deac_limit":"2","for_tfs":"false","allow_vm":"yes","email":"imberdis.damien@gmail.com"}]}})
  recorded_at: Tue, 03 Mar 2015 16:28:42 GMT
recorded_with: VCR 2.9.3
