---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&format=json&method=limelm.pkey.advancedSearch&num=2&page=3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","pkeys":{"pages":5,"total":"9","pkey":[{"id":"10","key":"CCC","acts":"1","acts_used":"0","version_id":"2","total_deacts":"0","deac_limit":"unlimited","for_tfs":"false","allow_vm":"yes"},{"id":"12","key":"CCC","acts":"1","acts_used":"1","version_id":"2","total_deacts":"0","deac_limit":"1","for_tfs":"false","allow_vm":"yes"}]}})
  recorded_at: Tue, 03 Mar 2015 18:10:26 GMT
recorded_with: VCR 2.9.3
