---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&created=true&format=json&method=limelm.pkey.activity&start=2015-04-07&version_id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","pkeys":{"pkey":[{"id":"1","key":"AAAA","acts":"5","acts_used":"0","created":"2015-04-14
        11:58:05","total_deacts":"0","deac_limit":"unlimited","for_tfs":"false","allow_vm":"no"},{"id":"2","key":"BBBB","acts":"7","acts_used":"0","created":"2015-04-14
        10:01:43","total_deacts":"0","deac_limit":"unlimited","for_tfs":"false","allow_vm":"no"}]}})
  recorded_at: Tue, 14 Apr 2015 20:04:58 GMT
recorded_with: VCR 2.9.3
