---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&format=json&method=limelm.pkey.getDetails&pkey_id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","pkey":{"key":"AAAA-BBBB","acts":"1","acts_used":"0","total_deacts":"0","deac_limit":"unlimited","for_tfs":"false","allow_vm":"yes","email":"imberdis.damien@gmail.com"}})
  recorded_at: Thu, 26 Feb 2015 21:32:58 GMT
recorded_with: VCR 2.9.3
