---
http_interactions:
- request:
    method: post
    uri: https://wyday.com/limelm/api/rest?api_key=new_key_from_yaml&email=imberdis.damien@gmail.com&format=json&method=limelm.pkey.find&version_id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: jsonLimeLMApi({"stat":"ok","pkeys":{"total":2,"pkey":[{"id":"1","key":"AAAA-BBBB","acts":"1","acts_used":"0"},{"id":"2","key":"AAAA-BBBA","acts":"20","acts_used":"0"}]}})
  recorded_at: Thu, 26 Feb 2015 20:19:00 GMT
recorded_with: VCR 2.9.3
